
a:link,
a:visited {
    color: rgb(58, 137, 255);
    text-decoration: none;
}

.table-bx table {
    margin-top: 20px;
    table-layout: auto;
    border-collapse: collapse;
    text-align: center;
}


.table-bx table tr td img {
    width: 100px;
    height: auto;
}