<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="container">
    <h1>Ecommerce</h1>
    <h3>Product Items</h3>

  </body>
</html>
