<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | User</title>
    <link rel="stylesheet" href="/stylesheets/user/dashboard.css">
</head>
<body>
    <% include sidebar.ejs %>

    <div class="main-content">
        <!-- Your data display content goes here -->
        <h1>Cart Items</h1>
        
    </div>

    <script src="/javascripts/theme.js"></script>
</body>
</html>
