<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | <%= user.name %></title>
    <link rel="stylesheet" href="/stylesheets/user/dashboard.css">
</head>
<body>
    <% include sidebar.ejs %>

    <div class="main-content">
        <!-- Your data display content goes here -->
        <h1>Welcome, <%= user.name %></h1>
        <% if (user.isAddressUpdated === false) { %>
            <div class="waring">
                Please update your home address for shipping.
                <a href="/users/address">Click here.</a>
            </div>
        <% } %>
        <p>This is where your data will be displayed.</p>
    </div>

    <script src="/javascripts/theme.js"></script>
</body>
</html>
