<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Registration Page</title>
    <link rel="stylesheet" href="/stylesheets/user/registration.css">
</head>
<body>
    <div class="container">
        <h1>👤 Registration Panel</h1>
        <form action="/users/regConfirmation" method="POST">
            <input type="text" name="name" placeholder="Display Name" required>
            <input type="email" name="email" placeholder="Example@gmail.com" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Submit</button>
        </form>
        <p class="copyright">All rights go to Amal A M 2024</p>
    </div>
</body>
</html>
