<aside class="sidebar">
    <div class="logo">
        <h2>Dashboard</h2>
    </div>
    <nav class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/users/dashboard">Main Panal</a></li>
            <li><a href="/users/cart-items">Cart Items</a></li>
            <li><a href="/users/order-list">Order Status</a></li>
            <li><a href="/users/address">Address Update</a></li>
        </ul>
    </nav>
    <form action="/users/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    
    <div class="theme-toggle">
        <button id="themeBtn">Toggle Theme</button>
    </div>
</aside>
