* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F0ECE7;
  color: #0F1D22;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

a {
  color: #00B7FF;
}
