<aside class="sidebar">
    <div class="logo">
        <h2>Dashboard</h2>
    </div>
    <nav class="nav-links">
        <ul>
            <li><a href="/admin/dashboard">Home</a></li>
            <li><a href="/admin/productCategory">Product Category</a></li>
            <li><a href="/admin/addProduct">Add Product</a></li>
            <li><a href="/admin/product/productList">Product List</a></li>
            <li><a href="/admin/userdata">User Management</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">Pending</a></li>
            <li><a href="#">Pending</a></li>
        </ul>
    </nav>
    <form action="/admin/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    
    <div class="theme-toggle">
        <button id="themeBtn">Toggle Theme</button>
    </div>
</aside>
