<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/admin-panal/dashboard.css">
</head>
<body>
    <% include ../admin-panal/sidebar.ejs %>

    <div class="main-content">
        <!-- Your data display content goes here -->
        <h1>Product Item [<%= data.name %>]</h1>
        <p>Category: <%= data.category.name %></p>
        <h4>Display Picture</h4>
        <img src="<%= data.thumb_img.replace('public', '') %>" alt="">

        <% dataImg.forEach(img => { %>
            <img src="<%= img.image.replace('public', '') %>" alt="">
        <% }) %>



    </div>

    <script src="/javascripts/theme.js"></script>
</body>
</html>
